* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    background-color: white;
    margin-inline: 5px;
}

#menu {
    flex-basis: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 200%;
    cursor: pointer;
}

#logo {
    flex-basis: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: bold;
    
}

#logo>a {
    text-decoration-line: none;
    color: black;
}

#logo>a>img {
    width: 30px;
    transform: translate(0%, 20%);
}

#search {
    flex-basis: 2%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 200%;
    cursor: pointer;
}

main {
    height: 90%;
    width: 60%;
    margin: auto;
}


#content {
    border: 1px solid black;
    margin: 5px;
    width: 100%;
}

#content>* {
    margin: 5px;
}

#content section {
    display: flex;
}

#inputText {
    outline: none;
    text-align: center;
    width: 100%;
    font-size: 20px;
    resize: none;
    overflow: hidden;
    font-family: '맑은고딕';
}

#addBtn {
    width: 24px;
    background-color: unset;
    background-image: url(../images/plus-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 2px 3px;
    cursor: pointer;
}

.history {
    border-top: 1px solid gray;
    font-size: 20px;

    flex-direction: column;
}

.history>form>div {
    display: flex;
    flex-basis: 100%;
}


.listCheckBtn {
    display: none;
}

.listCheckBtn + label {
    width: 24px;
    cursor: pointer;
    
    display: inline-block;
    background-image: url(../images/square-check-regular.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 2px 5px;
}

.listCheckBtn:checked + label {
    background-image: url(../images/square-check-solid.svg);
}


.listRemoveBtn {
    width: 24px;
    cursor: pointer;

    background-image: url(../images/trash-solid.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 2px 5px;
}

.todoText {
    flex-basis: 100%;
    word-break: break-all;
}

#option {
    display: flex;
    font-size: 16px;
    align-items: center;

    border-top: 1px solid gray;
}

#option>div {
    margin-top: 5px;
}

#listCount {
    flex-basis: 10%;
}

#all {
    flex-basis: 25%;
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
}

#doing {
    flex-basis: 30%;
    text-align: center;
    cursor: pointer;
}

#done {
    flex-basis: 25%;
    text-align: center;
    cursor: pointer;
}

#removeAll {
    flex-basis: 10%;
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
    cursor: pointer;
}