* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
}

.button {
    cursor: pointer;
}

header {
    display: flex;
    background-color: white;
    margin-inline: 5px;
}

#menu {
    flex-basis: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 200%;
}


#logo {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

#logo>a {
    text-decoration-line: none;
    color: black;
}

#logo>a>span {
    font-weight: bold;
}

#search {
    flex-basis: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 200%;
}

#content {
    height: 90%;
    width: 60%;
    margin: auto;
}

#content>form {
    border: 1px solid black;
    height: auto;
    display: flex;
}

#content>form>fieldset {
    margin: 5px;
    width: 100%;
}

#content section {
    display: flex;
}

#input_todo {
    outline: none;
    text-align: center;
    width: 100%;
    font-size: 20px;
    resize: none;
    overflow: hidden;
    font-family: '맑은고딕';
}

#sendBtn {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

#history {
    border-top: 1px solid gray;
    font-size: 20px;

    flex-direction: column;
}

#history>div {
    display: flex;
    flex-basis: 100%;
}

.listCheckBtn {
    display: none;
}

.listCheckBtn + label {
    width: 24px;
    cursor: pointer;
    
    display: inline-block;
    background-image: url(./image/square-check-regular.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px;
}

.listCheckBtn:checked + label {
    background-image: url(./image/square-check-solid.svg);
}

.listRemoveBtn {
    cursor: pointer;
}

.todoText {
    flex-basis: 100%;
    word-break: break-all;
}

#option {
    display: flex;
    font-size: 16px;
    align-items: center;

    border-top: 1px solid gray;
}

#option section {
    margin-top: 5px;
}

#option section:first-child {
    flex-basis: 24%;
}

#option section:nth-child(2) {
    flex-basis: 52%;
    justify-content: center;
    align-items: center;
}

#all {
    flex-basis: 25%;
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
}

#doing {
    flex-basis: 30%;
    text-align: center;
    cursor: pointer;
}

#done {
    flex-basis: 25%;
    text-align: center;
    cursor: pointer;
}

#option section:last-child {
    flex-basis: 24%;
    justify-content: right;
}

#removeAll {
    border: 2px solid cornflowerblue;
    border-radius: 7px;
    cursor: pointer;
}